---
import FeaturesHome from "../components/FeaturesHome.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Visi dan Misi Program OSIS | Paslon No 5">
  <main class="space-y-20 overflow-x-hidden">
    <HeroSection />
    <FeaturesHome />
  </main>
</Layout>
