---
import ProkerHero from "../components/ProkerHero.astro";
import ProkerList from "../components/ProkerList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Visi dan Misi Program OSIS | Paslon No 5">
  <main class="space-y-40 mb-40 overflow-x-hidden">
    <ProkerHero />
    <ProkerList />
  </main>
</Layout>
