---
import Container from "./Container.astro";
---

<div class="relative overflow-y-hidden">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-48 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-28 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative mb-28 pt-16 lg:pt-36 ml-auto">
      <div class="justify-between items-center flex">
        <div class="w-full mx-0 md:mx-8">
          <img
            class="mx-auto lg:hidden"
            src="https://cdn.discordapp.com/attachments/974700248582746142/1026763904589770772/yessa.png"
          />
          <h1
            class="text-gray-900 mt-2 dark:text-white font-bold text-5xl md:text-7xl xl:text-7xl"
          >
            Kami Paslon OSIS <br class="hidden lg:block" />
            <span class="text-primary dark:text-white"> No 5</span>
          </h1>
          <p class="mt-4 text-gray-800 text-xl dark:text-gray-300 max-w-xl">
            Kami disebut sebagai Paslon Kopi Susu, meskipun banyak perbedaan
            tapi kami tetap bisa saling menyatukan pikiran dan bekerjasama.
            Jangan lupa vote kami yaaa
          </p>
          <div class="flex mt-2 items-center flex-row gap-3">
            <a
              href="/tentang"
              class="text-white whitespace-nowrap z-20 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 hover:scale-105 transition-all font-medium rounded-full text-lg px-4 py-2 text-center mr-2 mb-2"
              >Tentang Kami</a
            ><a
              href="/visi-misi"
              class="text-white whitespace-nowrap z-20 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 hover:scale-105 font-medium transition-all rounded-full text-lg px-4 py-2 text-center mr-2 mb-2"
              >Visi dan Misi</a
            >
          </div>
        </div>
        <div class="lg:w-2/3 hidden lg:block mx-8">
          <div
            class="absolute w-32 bottom-[-12px] h-32 bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 blur-[80px]"
          >
          </div>
          <div
            class="absolute ml-32 blur-[90px] w-32 h-32 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
          >
          </div>

          <div
            class="absolute ml-8 bottom-[-20px] right-[50px] w-32 h-32 bg-gradient-to-r from-indigo-300 blur-[50px] to-purple-400"
          >
          </div>

          <img
            class=""
            src="https://cdn.discordapp.com/attachments/974700248582746142/1026763904589770772/yessa.png"
            width={560}
            height={430}
            alt="Orang"
          />
        </div>
      </div>
    </div>
  </Container>
</div>
