<div id="main" class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-md px-4 md:px-8 mx-auto">
    <h1
      class="text-gray-800 dark:text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-center mb-4 md:mb-6"
    >
      Program Kerja kami
    </h1>

    <ol
      type="1"
      class="list-disc list-inside text-gray-800 dark:text-gray-100 sm:text-lg mb-6 md:mb-8"
    >
      <li>
        Mengadakan form MASIS (Masukkan Siswa) sebagai media aspirasi siswa.
      </li>
      <li>
        Menyelenggarakan kegiatan seminar yang menarik dan mendatangkan
        pembicara yang berkualitas.
      </li>
      <li>
        Membuat konten menarik tentang keseharian siswa-i, yang akan diupload di
        sosial media “Diary of SMP CTS”.
      </li>
      <li>
        Membuat playlist spotify, untuk menemani kegiatan belajar di rumah.
      </li>
      <li>Menggelar pelatihan sesuai minat bakat siswa-i.</li>
      <li>
        Bekerjasama dengan guru, melakukan pengecekan kedisplinan secara
        berkala.
      </li>
      <li>Mempersiapkan upacara bendera, dan perlombaan saat HUT RI.</li>
      <li>Mengadakan kegiatan ibadah bulanan dan Pendalaman Alkitab.</li>
      <li>Mengadakan acara untuk merayakan hari Natal dan Paskah.</li>
      <li>
        Mengadakan pertandingan antar kelas maupun antar sekolah secara berkala
        contohnya E-sport, untuk meningkatkan rasa kebersamaan
      </li>
      <li>
        Mengusulkan Esports menjadi salah satu ajang perlombaan di classmeet,
        HUT RI ataupun event “CTS Cup”.
      </li>
      <li>Mengadakan kegiatan TANI (Pentas Seni).</li>
      <li>
        Melakukan bakti sosial untuk anak yatim piatu, jompo, dan orang lain
        yang membutuhkan.
      </li>
    </ol>
  </div>
</div>
