

<div>
  <div
    class="max-w-7xl mx-auto flex justify-start px-4 gap-6 lg:gap-24 md:px-12 xl:px-6"
  >
    <h2
      class="text-3xl text-center font-bold lg:text-5xl text-gray-800 dark:text-gray-100"
    >
      Edukasi
    </h2>
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
    >
      <ol class="relative border-l border-gray-200 dark:border-gray-700">
        <li class="mb-10 ml-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
          >
          </div>
          <time
            class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
            >2021 - sekarang</time
          >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Candle Tree School
          </h3>
          <p
            class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
          >
            Sekolah Menengah Pertama
          </p>
        </li>
        <li class="mb-10 ml-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
          >
          </div>
          <time
            class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
            >2015 - 2021</time
          >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Candle tree school
          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Sekolah Dasar
          </p>
        </li>
        <li class="ml-4">
          <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
          >
          </div>
          <time
            class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
            >2012 - Sekarang</time
          >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Sekolah Musik Willy Soemantri & Melodita
          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Sekolah Musik
          </p>
        </li>
      </ol>
    </div>
  </div>
</div>
