<div class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-md px-4 md:px-8 mx-auto">
    <h1
      class="text-gray-800 dark:text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-center mb-4 md:mb-6"
    >
      Misi Kami
    </h1>

    <ol
      type="1"
      class="list-disc list-inside text-gray-800 dark:text-gray-100 sm:text-lg mb-6 md:mb-8"
    >
      <li>Mempererat hubungan OSIS dengan siswa-i, melalui wadah aspirasi.</li>
      <li>
        Mengadakan acara-acara kolaboratif intrasekolah ataupun ekstrasekolah,
        untuk mempererat hubungan.
      </li>
      <li>Mengasah siswa-i agar lebih berkompeten pada bidangnya.</li>
      <li>
        Melaksanakan nilai-nilai SMP Candle Tree, yaitu 3S (Senyum, Sapa, Salam)
      </li>
      <li>
        Melaksanakan pengembangan karakter kebangsaan dan nilai-nilai nasional.
      </li>
      <li>
        Membekali siswa-siswi SMP CTS dengan “The Six Missions” (Religius,
        Disiplin, Mandiri, Kepemimpinan, Kerjasama dan Sosial)
      </li>
      <li>
        Turut mendorong prestasi siswa-i yang dapat mengharumkan nama sekolah.
      </li>
      <li>
        Membangun komunitas yang cerdas, dinamis dan terbuka mengikuti
        perkembangan zaman.
      </li>
      <li>
        Menyelenggarakan berbagai kegiatan yang mendorong kreatifitas,
        produktifitas, juga menambah wawasan untuk siswa-I, yang dikemas
        mengikuti perkembangan zaman.
      </li>
    </ol>
  </div>
</div>
